<div class="titulo">
    <h1>Visualizacion de datos</h1>
</div>    
<div *ngIf=" vals != null ">
    <p>{{ vals.data.name }}</p>
</div>

<div *ngIf=" gamesIter.length <= 0 ">
    <div class="d-flex justify-content-center">
        <div class="spinner-grow text-danger" style="width: 5rem; height: 5rem;" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
    </div>
</div>

<div class="contGrid">
    <div class="row grid">
        <div class="cardCont col-md-2" *ngFor="let x of gamesIter">
            <div class="cardImg">
                <img src = {{x.background_image}} alt="">
            </div>
            <div class="cardContent">
                <div class="cardTitle">
                    {{x.name}}
                </div>
                <div class="cardText">
                    <p>{{ x.released }}</p>
                    <p *ngFor="let y of x.genres">{{y.name}}</p>
                </div>
                <button class="btn btn-primary"    [routerLink]="['/info']" [queryParams]="{ filter: x.id }" >Info</button>
            </div>    
        </div>
    </div>
    <button class="btn btn-primary prev" (click)="prev()">Prev</button>
    <button class="btn btn-primary next" (click)="next()">Next</button>
</div>